@import '../base/colors';

// Slug Page
.slug {
    background-color: $color-background;
        color: $color-text;
    padding: 2rem;
    text-align: center;
}

.slug-title {
    font-size: 2rem;
    margin-bottom: 1rem;
}

.slug-content {
    font-size: 1rem;
    line-height: 1.5;
}
