@import '../base/colors';

// Footer
.footer {
    background-color: $color-footer-background;
    color: $color-footer-text;
    padding: 1rem;
    text-align: center;
}

.footer a {
    color: $color-footer-link;
    text-decoration: none;
}

.footer a:hover {
    text-decoration: underline;
}
