@import '../base/colors';

// Grid
.grid {
    display: grid;
    gap: 1rem;
}

.grid-cols-2 {
    grid-template-columns: repeat(2, 1fr);
}

.grid-cols-3 {
    grid-template-columns: repeat(3, 1fr);
}

.grid-cols-4 {
    grid-template-columns: repeat(4, 1fr);
}

.grid__item {
    background-color: #f2f2f2;
    padding: 1.25rem; // 20px
    border: 0.0625rem solid #ccc; // 1px
    border-radius: 0.3125rem; // 5px
}
