@import '../base/colors';

// Sidebar
.sidebar {
    background-color: $color-sidebar-background;
    color: $color-sidebar-text;
    padding: 1rem;
    width: 250px;
}

.sidebar a {
    color: $color-sidebar-link;
    text-decoration: none;
    display: block;
    padding: 0.5rem 0;
}

.sidebar a:hover {
    background-color: $color-sidebar-link-hover;
}
