@import '../base/colors';

// Section
.section {
    height: fit-content;
    padding: 2rem 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    max-width: 100%;
    background-color: $color-background;
}

.section-title {
    margin-bottom: 1rem;
    font-size: 2rem;
    text-align: center;
    color: $color-primary;
}

.section-content {
    display: flex;
    flex-direction: column;
    align-items: center;
}