// Mixin to center an element
@import '../base/_colors';

@mixin center() {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

// Mixin to generate a gradient
@mixin gradient($color1, $color2) {
    background: linear-gradient(to bottom, $color1, $color2);
}

// Mixin for buttons
@mixin styled-button() {
    display: inline-block;
    padding: 0.625rem 1.25rem; // 10px 20px
    background-color: $color-highlight;
    color: $color-body;
    text-decoration: none;
    border-radius: 0.25rem; // 4px
    transition: background-color 0.3s ease;

    &:hover {
        background-color: darken($color-highlight, 10%);
    }
}

// Mixin to add shadow
@mixin shadow() {
    box-shadow: 0.125rem 0.125rem 0.25rem 0 rgba(0, 0, 0, 0.1); // 2px 2px 4px 0
}

// Function to generate random colors
@function random-color() {
    @return rgb(random(255), random(255), random(255));
}

// Mixin for titles
@mixin styled-title() {
    font-size: 1.5rem; // 24px
    color: $color-title;
    font-weight: bold;
}