/* Clear floats */
.clearfix::after {
    clear: both;
    content: '';
    display: table;
}

/**
  * Main content containers
  * 1. Make the container full width and max width
  * 2. Center it in the viewport
  * 3. Leave some space on the edges, especially valuable on small screens
  */
.container {
    max-width: 100%;
    /* 1 */
    margin-left: auto;
    /* 2 */
    margin-right: auto;
    /* 2 */
    padding-left: 1.25rem;
    /* 3 - 20px */
    padding-right: 1.25rem;
    /* 3 - 20px */
    width: 100%;
    /* 1 */
}

/**
 * Hide text while making it readable for screen readers
 * 1. Required in WebKit-based browsers due to an implementation bug;
 *    See: https://code.google.com/p/chromium/issues/detail?id=457146
 */
.hide-text {
    overflow: hidden;
    padding: 0;
    /* 1 */
    text-indent: 101%;
    white-space: nowrap;
}

/**
  * Hides the element while making it readable for screen readers
  * https://github.com/h5bp/html5-boilerplate/blob/master/src/css/main.css#L119-L133
  */
.visually-hidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 0.0625rem; // 1px
    margin: -0.0625rem; // -1px
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 0.0625rem; // 1px
}

/* Full screen display */
.full-screen {
    width: 100vw;
    height: 100vh;
}
